<footer class="page-footer">
          <div class="container">
            <div class="row">

              <div class="footer-copyright">

            <p style="margin: 0px">© 2017 Todd Greenberg, LTD, LLC, Esq, DDS</p>

          </div>
        </div>
      </div>
  </footer>
