<div class="row">
  <% @packs.each do |pack| %>

        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <%if pack.items.any?%>
              <img src="<%= pack.items.first.image %>">
              <%else%>
              <img src="/assets/no_image2.png">
              <%end%>

            </div>
            <div class="card-content">
              <p><%= pack.name %></p>
            </div>
            <div class="card-action">
              <a href="<%= pack_path(pack) %>">View</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
